@import '@fontsource/poppins';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img {
  background-image: url("/background/home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #075985;
  border: 0px none #ffedd5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #075985;
}
::-webkit-scrollbar-thumb:active {
  background: #075985;
}
::-webkit-scrollbar-track {
  background: #ffedd5;
  border: 0px none #ffedd5;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffedd5;
}
::-webkit-scrollbar-track:active {
  background: #ffedd5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
